<h2 id='title'>Welcome to Ember.js</h2>

<nav>
  {{#link-to 'index'}}Index{{/link-to}}
  {{#link-to 'somepage'}}Somepage{{/link-to}} {{!-- these point to template pages --}}
  {{#link-to 'about'}}About{{/link-to}} 
</nav>

{{outlet}}



